* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/background2.jpg);
    background-size: cover;
}

.top {
    text-align: center;
    background-color: rgba(2, 77, 112, 0.8);
    padding: 20px;
    color: rgb(238, 156, 4);
    width: 50%;
    min-width: 400px;
    max-width: 800px;
    margin: 1.8rem auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 7px;
}

.top p {
    font-size: 1.3em;
    font-style: italic;
}

form {
    background-color: rgba(2, 77, 112, 0.8);
    width: 50%;
    min-width: 400px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: rgb(116, 209, 128);
    font-size: 1.7em;
    font-family: 'Times New Roman', Times, serif;
}

fieldset {
    border: none;
    padding-left: 50px;
    margin: 20px auto;
}

label,
legend,
.checker {
    display: block;
    font-weight: 500;
    margin: 10px 0;
}

#name,
#email,
#age {
    line-height: 1.6;
    padding: 5px 15px;
    margin-left: 20px;
    width: 50%;
}

select {
    padding: 5px 10px;
    margin-left: 20px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

#more {
    display: block;
    margin-top: 8px;
}

input[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: rgb(5, 100, 64);
    background-color: rgb(255, 185, 54);
    border: none;
    cursor: pointer;
}